{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static './css/header.css' %}" />
{% endblock css_files%}

    <header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a href="/" class="navbar-brand text-uppercase font-weight-bold">La CinePhile</a>
            <button type="button" id="toggle-btn" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed">  <!-- navbar-toggler-right -->
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
            </button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto effect-class">
                    <li class="nav-item {{activate_home}} highlight"><a href="/#home" class="nav-link text-uppercase font-weight-bold"><i class="fas fa-tachometer-alt"></i>Home<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item {{activate_movies}} highlight"><a href="/movies/all" class="nav-link text-uppercase font-weight-bold"><i class="fas fa-ticket-alt"></i>Movies</a></li>
                    <li class="nav-item {{activate_book}} highlight"><a href="/hall/book" class="nav-link text-uppercase font-weight-bold"><i class="fas fa-ticket-alt"></i>Book</a></li>
                    <li class="nav-item {{activate_prices}} highlight"><a href="/hall/prices"  class="nav-link text-uppercase font-weight-bold"><i class="fas fa-tags"></i>Prices</a></li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{request.user.first_name}}
                            </button>
                            <div class="dropdown-menu drop-blur bg-transparent" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item text-white" type="button"><a href="/accounts/dashboard">Dashboard</a></button>
                                <button class="dropdown-item text-white" type="button">Profile</button>
                                <button class="dropdown-item text-white" type="button">Something else here</button>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-white" href="/accounts/logout">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav btns-section">
                    <li class="nav-item"><a href="/accounts/register" class="nav-link text-uppercase font-weight-bold"><button type="button" class="btn btn-outline-primary"><i class="fas fa-user-plus"></i>Register</button></a></li>
                    <li class="nav-item"><a href="/accounts/login" class="nav-link text-uppercase font-weight-bold"><button type="button" class="btn btn-outline-success"><i class="fas fa-sign-in-alt"></i>Login</button></a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header> 

    {% block js_files %}
    <script src="{% static '/js/jquery/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src= {% static './js/header.js' %}> </script>
    {% endblock js_files %}