{% load static %}
<style>
  .vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }

  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }

  #sidebar.active {
    margin-left: -17rem;
  }

  #content.active {
    width: 100%;
    margin: 0;
  }


  .text-uppercase {
    letter-spacing: 0.1em;
  }

  .text-gray {
    color: #aaa;
  }

  .nav-link {
    text-transform: capitalize;
  }

  .nav-link:hover {
    background: #f3f2f2;
  }

  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }

    #sidebar.active {
      margin-left: 0;
    }

    #content {
      width: 100%;
      margin: 0;
    }

    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
</style>


<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-2 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      <img loading="lazy" src="{{request.user.profile.profile_pic.url}}" alt="Admin Profile Pricture" width="80"
        height="80" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">{{request.user.first_name}} </h4>
        <p class="font-weight-normal text-muted mb-0">Admin</p>
      </div>
    </div>
  </div>

  <div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">

        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

        <ul class="nav flex-column bg-white mb-0">
          <li class="nav-item">
            <a href="/admins/dashboard" class="nav-link text-dark bg-light">
              <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
              home
            </a>
          </li>
          <li class="nav-item">
            <a href="/admins/show_user" class="nav-link text-dark">
              <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              User Section
            </a>
          </li>
          <li class="nav-item">
            <a href="/admins/show_admin" class="nav-link text-dark">
              <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              Admin Section
            </a>
          </li>
        </ul>



        <p class="text-gray font-weight-bold text-uppercase px-3 small py-2 mb-0">Movies</p>
        <ul class="nav flex-column bg-white mb-0">
          <li class="nav-item">
            <a href="/admins/show_movies" class="nav-link text-dark">
              <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              Now Showing
            </a>
          </li>
          <li class="nav-item">
            <a href="/admins/up_movies" class="nav-link text-dark">
              <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
              Up Comming
            </a>
          </li>
        </ul>


        <p class="text-gray font-weight-bold text-uppercase px-3 small py-2 mb-0">Halls</p>
        <ul class="nav flex-column bg-white mb-0">
          <li class="nav-item">
            <a href="/admins/show_hall" class="nav-link text-dark">
              <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              Halls
            </a>
          </li>
          <li class="nav-item">
            <a href="/admins/hall_category" class="nav-link text-dark">
              <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
              Hall Category
            </a>
          </li>
          <li class="nav-item">
            <a href="/admins/movie_hall" class="nav-link text-dark">
              <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
              Movie Hall Allocation
            </a>
          </li>
        </ul>

        <p class="text-gray font-weight-bold text-uppercase px-3 small py-2 mb-0">Tickets</p>

        <ul class="nav flex-column bg-white mb-0">
          <li class="nav-item">
            <a href="/admins/show_ticket" class="nav-link text-dark">
              <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
              Tickets
            </a>
          </li>
          <li class="nav-item">
            <a href="/admins/ticket_cat" class="nav-link text-dark">
              <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
             Ticket Category
            </a>
          </li>
          <li class="nav-item">
            <a href="/admins/show_payments" class="nav-link text-dark">
              <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
              Payments
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar, #content').toggleClass('active');
    });
  });
</script>