
{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>Password Reset Completed</title>
{% endblock%}

{% block css_files %}
<link rel="stylesheet" href="{% static '/css/common.css' %}" />
<style>
        .registration-container{
            background-size:cover;
            background-attachment:fixed;
            background-position:center;
        }
        .blur-back{
                backdrop-filter:blur(10px);
        }
        form label{
            color:#fff;
        }
        .form-row{
            justify-content:center;
        }
        .blur-back{
            backdrop-filter:blur(3px);
        }
        .form-text{
            color:wheat !important;
        }
        .pass-txt{
            color:orange
        }
        #hint_id_new_password1 li{
            color:blanchedalmond;
            font-size:12px
        }
    </style>
{% endblock css_files %}


{% block main_content %}
<div class="registration-container py-5" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({% static '/images/resetdone-back.jpg' %});">
    <div class="container py-5 my-5  border border-warning d-flex flex-column align-items-center">
        {% include 'accounts/message.html' %}
        <div class="text-contents">
            <h1 style="color:orange">Password Reset Complete</h1>
            <p class="text-white">Your Passowrd has been set! You may go ahead and login now</p>
        </div>
        <div class="col-md-2">
            <button class="profile-edit-btn btn-lg text-white btn-warning"> <a href="/accounts/login/" class="text-white link-unstyled"> Login </a> </button>
        </div>
    </div>

</div>
{% endblock main_content %}