{% extends 'layout.html' %}
{% block title %}
<title>Password Reset Sent</title>
{% endblock%}
{% load static %}


{% block main_content %}
<div class="registration-container py-5" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({% static '/images/reset-back.jpg' %});">
    <div class="container py-5 my-5  border border-warning">
        {% include 'accounts/message.html' %}
        <h1 style="color:orange">Reset your password</h1>
        <p class="text-white">We've emailed you instructions for setting your password.</p>
        <p class="text-white">If you don't receive an email, please make sure you've entered the address you registered with.</p>

    </div>
</div>
{% endblock main_content %}