
{% extends 'layout-admin.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>Password Reset Form</title>
{% endblock%}

{% block css_files %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{% endblock css_files%}

{% block main_content %}
<h1>Reset your password</h1>

{% if validlink %}

<p>Please enter your new password twice:</p>
<form action="." method="post">{{ form.as_p }}{% csrf_token %}
    <p><input type="submit" value="Change my password" /></p>
</form>

{% else %}
    <p>The password reset link was invalid, possibly because it hasalready been used. Please request a new
    password reset.</p>{% endif %}{% endblock %}

{% endblock main_content %}