{% block title %}
<title>Password Reset Sent</title>
{% endblock%}

{% block css_files %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{% endblock css_files%}

{% block main_content %}
<div class="registration-container py-5" >
    <div class="container py-5 my-5  border border-warning">
        {% include 'accounts/message.html' %}
        <h1>Reset yourpassword</h1>
        <p>We've emailed you instructions for setting your password.</p>
        <p>If you don't receive an email, please make sure you've entered theaddress you registered with.</p>

    </div>
</div>
{% endblock main_content %}