{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>{{movie.name}}</title>

{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static '/css/common.css' %}" />
    <link rel="stylesheet" href="{% static '/css/book.css' %}" />
{% endblock css_files%}

{% block main_content %}

<div class="movie-viewer container-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url({{movie.background.url}});">
    
    <div class="container movie-details">
        <div class="row justify-content-between movie">
            <div class="com-md-6">
                <img src="{{movie.poster.url}}" alt="{{movie.name}}" class="img-fluid height-limit">
            </div>
            <div class="com-md-2 text-white width-fourty">
                <h1>{{movie.name}}</h1>
                <p>
                    <p class="msub-title"><h4>IMDB <span class="title-highlight">Ratings: </span> <br></h4>
                        <p class="font-limit"><i class="fas fa-star text-warning"></i>{{movie.imdb}}/10 </p></p>
                </p>
                <p> <h4 class="title-highlight"> Cast:</h4> {{movie.actors}}</p>
                <p> <h4 class="title-highlight"> Directed By:</h4> {{movie.director}}</p>
                <div class="d-flex justify-content-between">
                    <a href="#" class="button position-static  text-center"><i class="fas fa-play"></i> Watch Trailer</a>
                    <a href="#" class="button position-static  text-center"><i class="fas fa-ticket-alt"></i> Book Now</a>
                </div>
                <p>
                    <hr class="back-color">
                    <h3 class="title-highlight my-2"> Synopsis: </h3>
                    {{movie.desc}}
                </p>
                
            </div>
        </div>

        <div class="row">

        </div>

    </div>

</div>


{% endblock main_content %}