{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Home</title>

{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}" />
    <link rel="stylesheet" href="{% static '/css/common.css' %}" />
{% endblock css_files%}

{% block main_content %}
  <section class="welcome-section mb-5" style = "background-image: url({% static 'images/free-guy.webp'%})" id="home">
    <div class="welcome-text container d-flex flex-column m-0">
      <h1 class="text-white decorated-text text-center">
        We’re Open and <span class="title-highlight">Safer & Cleaner</span>
      </h1>

      <p class="text-center">
        Across the nation, all our theatres are now open Safe & Clean™ standards
        in place. Allow us to reintroduce you to the magic of moviegoing.
      </p>
    </div>
  </section>

  <section class="get-started my-5 p-5">
    <div class="container d-flex flex-column justify-content-between">
      <div class="message mb-4">
        <h1 class="text-center">
          <a href="#" class="underline effect-underline"
            >Get <span class="title-highlight">Started</span></a
          >
        </h1>
        <p class="mt-3 text-justify">
          At La Cinephile, we offer the best services. We have a dedicated team
          of 50 members to make your time with us comfortable and enjoyable.
          Want to have snack during movies? Sure. We have dedicated food court
          and staffs which will deliver foods to your seats. Enjoy your movies
          linke you do in your home!
        </p>
      </div>
      <div class="buttons-section text-center">
        <button type="button" class="btn btn-outline-success mr-5">
          Book a Movie
        </button>
        <button type="button" class="btn btn-outline-warning">
          Explore Movies
        </button>
      </div>
    </div>
  </section>

  <div class="features">
    <div class="carausel-text">
      <h1>Our <span class="title-highlight">Features</span></h1>
    </div>
    <section
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block img-fluid"
            src="{% static '/images/hall/halll.jpg' %}"
            alt="First slide"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>VIP Hall</h5>
            <p>Friendly Staff, Comfortable Seats, VIP Security</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="d-block img-fluid"
            src="{% static '/images/hall/hall6.jpg' %}"
            alt="Second slide"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Premium Hall</h5>
            <p>Blue Seats, Comfortable Viewing Angles</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="d-block img-fluid"
            src="{% static '/images/hall/choices.jpg' %}"
            alt="Third slide"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>We Offer a lot of choices</h5>
            <p>
              You can choose any movie from our collection of hundreds of movies
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="d-block img-fluid"
            src="{% static '/images/hall/popcorn.jpg' %}"
            alt="Second slide"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Best Food Court</h5>
            <p>
              We have some very talanted staff who provide you with delicious
              snacks during movies
            </p>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </section>
  </div>



    <div class="movies-card-section my-5 py-2">
        <section class="top-movies-section">
    <div class="text-section text-center m-4">
      <h1>Top movies in <span class="title-highlight">theatres</span></h1>
      <div class="subtitle">
        <p>at La Cinephile & Theatre</p>
      </div>
    </div>
      <div class="movies-carausel">
        <div class="wrap d-flex flex-column align-items-md-center" style="background: url({% static 'images/blur-unsplashed.jpg' %}) no-repeat;">
          <div class="slider">
            
              {% for movie in movies %}
                  <div class="card rounded item" style="background-image: url({{movie.poster.url}});" id = "{{movie.id}}">
                  <div class="card-content">
                    <h2 class="card-title">{{movie.name}}</h2>
                    <p class="card-body-custom text-white">{{movie.summary}}</p>
                  </div>
                  
                  </div>
                {% endfor %}
                
          </div>
          <a href="#" class="button mb-4 text-center" id="upcomming-button" onclick="getId()">Learn More</a>
        </div>

        
      </div>
    </div>
  </section>



{% endblock main_content %}

{% block js_files%}
  <script src="{% static '/js/jquery/jquery-3.2.1.slim.min.js' %}"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
    <script src=" {% static '/js/slick.min.js' %}"></script>
    <script src="{% static '/js/home.js' %}"></script>
    <script src="{% static '/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
{% endblock js_files %}


