{% extends 'layout.html' %} 
{% load static %}
{% block title %}
<title>Movies</title>
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/css/movies.css' %}" />
<link rel="stylesheet" href="{% static '/css/common.css' %}" />
<link rel="stylesheet" href="{% static '/css/home.css' %}" />
    <link rel="stylesheet" href="{% static '/css/common.css' %}" />

{% endblock css_files%}
{% block main_content %} 
<div id="now-showing" style="background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({% static '/images/movie-back.jpg' %}")" center fixed no-repeat;">
  <h1 class="title-highlight"> Now Showing </h1>
  <div class="movie-cards d-flex flex-wrap justify-content-evenly comtainer-sm">
      {% for movie in movies %}
      <div class="mcard my-4">
        <div class="mimage">
          <img src="{{movie.poster.url}}" alt='{{movie.name}}'>
        </div>
        <div class="mcontent">
          <div class="mtitle">{{movie.name}}</div>
          <div class="msub-title"><i class="fas fa-star text-warning"></i>{{movie.imdb}}/10 </p></div>
          <div class="mbottom">
            <p> {{movie.summary}} </p>
            <hr>
            <br>
            <a href="/movies/now/{{movie.id}}" class="button text-center">Learn More</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>


<div id="up-comming">
<h1 class="text-white"> Upcomming Movies/ Releasing Soon </h1>
<div class="movies-carausel">
        <div class="wrap d-flex flex-column align-items-md-center" style="background: url({% static 'images/blur-unsplashed.jpg' %}) no-repeat;">
          <div class="slider">
            
              {% for movie in umovies %}
                  <div class="card rounded item" style="background-image: url({{movie.poster.url}});" id = '{{movie.id}}'>
                  <div class="card-content">
                    <h2 class="card-title">{{movie.name}}</h2>
                    <p class="card-body-custom text-white">{{movie.summary}}</p>
                  </div>
                  
                  </div>
                {% endfor %}
                
          </div>
          <a href="up/" class="button mb-4 text-center" id="upcomming-button" onclick="getId2()">Learn More</a>
        </div>
      </div>
</div>
</div>


 {% endblock main_content%}

{% block js_files%}
    <script src="{% static '/js/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static '/js/movie.js' %}"></script>
    <script src="{% static '/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
    <script src=" {% static '/js/slick.min.js' %}"></script>
    <script src="{% static '/js/home.js' %}"></script>

    <script>

    </script>


{% endblock js_files %}