{% extends 'layout-admin.html' %}
{% load static %}

{% block title %}
<title>Prices</title>

{% endblock title %}

{% block css_files %}

{% endblock css_files %}

{% block main_content %}




<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title mt-3">Good Morning, {{request.user.first_name}}!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card board1 fill">
                    <div class="card-body">
                        <div class="dash-widget-header d-flex justify-content-between">
                            <div>
                                <h3 class="card_widget_header">{{user_count}}</h3>
                                <h6 class="text-muted">Total Users</h6>
                            </div>
                            <div class="ml-auto mt-md-3 mt-lg-0"> <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card board1 fill">
                    <div class="card-body">
                        <div class="dash-widget-header d-flex justify-content-between">
                            <div>
                                <h3 class="card_widget_header">{{admin_count}}</h3>
                                <h6 class="text-muted">Total Admins</h6>
                            </div>
                            <div class="ml-auto mt-md-3 mt-lg-0"> <i class="fas fa-user-shield"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card board1 fill">
                    <div class="card-body">
                        <div class="dash-widget-header d-flex justify-content-between">
                            <div>
                                <h3 class="card_widget_header">{{movies_count}}</h3>
                                <h6 class="text-muted">Total Movies</h6>
                            </div>
                            <div class="ml-auto mt-md-3 mt-lg-0"> <i class="fas fa-film"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card board1 fill">
                    <div class="card-body">
                        <div class="dash-widget-header d-flex justify-content-between">
                            <div>
                                <h3 class="card_widget_header">{{tickets_count}}</h3>
                                <h6 class="text-muted">Total Bookings</h6>
                            </div>
                            <div class="ml-auto mt-md-3 mt-lg-0"> <i class="fas fa-ticket-alt"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-md-12 col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Canceled Bookings</h4>
                        <canvas id="myChart2" width="400" height="400"></canvas>
                    </div>
                    <div class="card-body">
                        <div id="donut-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Halls Booked</h4>
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class="card-body">
                        <div id="donut-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title float-left mt-2">Booking</h4>
                        <button type="button" class="btn btn-primary float-right veiwbutton">Veiw All</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center">
                                <thead>
                                    <tr>
                                        <th>Booking ID</th>
                                        <th>Name</th>
                                        <th>Email Address</th>
                                        <th>Phone Number</th>
                                        <th class="text-center">Hall Type</th>
                                        <th class="text-right"> Seat Number</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in ticket %}
                                    <tr>
                                        <td class="text-nowrap">
                                            <div>{{i.id}}</div>
                                        </td>
                                        <td class="text-nowrap">{{i.user.first_name}} <span> {{i.user.last_name}}  </span></td>
                                        <td> {{i.user.email}}</td>
                                        <td>{{i.user.profile.phone}}</td>
                                        <td class="text-center">{{i.movie.hall.name}} <span>  ({{i.movie.hall.category.name}}) </span></td>
                                        <td class="text-center">
                                            <div>{{i.seats}}</div>
                                        </td>
                                        <td class="text-center">
                                        {% if i.status == "Active" %}
                                            <span class="badge badge-pill bg-success inv-badge">{{i.status}}</span>
                                        {% elif i.status == "Canceled" %}
                                            <span class="badge badge-pill bg-danger inv-badge">{{i.status}}</span>
                                        {% else %}
                                            <span class="badge badge-pill bg-warning inv-badge">{{i.status}}</span>
                                        {% endif %}
                                        </td>
                                    </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="data" style="display:none">{{data}}</div>
    <div id="label" style="display:none">{{label}}</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script type="text/javascript">
    console.log("{{label}}")
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['GOLD', "PLATINIUM", 'PREMIUM'],
            datasets: [{
                label: '# of Votes',
                data: JSON.parse("{{data}}"),
                backgroundColor: [
                    'rgba(255, 215, 0, 0.2)',
                    'rgba(10, 10, 10, 0.2)',
                    'rgba(0, 128, 0, 0.2)',

                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',

                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script type="text/javascript">
    console.log("{{label}}")
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['GOLD', "PLATINIUM", 'PREMIUM'],
            datasets: [{
                label: '# of Votes',
                data: JSON.parse("{{canc_data}}"),
                backgroundColor: [
                    'rgba(255, 215, 0, 0.2)',
                    'rgba(10, 10, 10, 0.2)',
                    'rgba(0, 128, 0, 0.2)',

                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',

                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


{% endblock main_content %}