{% extends 'layout-admin.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>Update Profile</title>

{% endblock title %}

{% block main_content %}
<link rel="stylesheet" href="{% static '/css/common.css' %}" />
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
<style>
    .registration-container{
        background-size:cover;
        background-attachment:fixed;
    }
    form label{
        color:orange;
    }
    .form-row{
        justify-content:center;
    }
    .blur-back{
        backdrop-filter:blur(3px);
    }
    .form-text{
        color:gray !important;
    }
    #div_id_profile_pic div{
        color:orange;
    }
</style>
<div class="registration-container py-5" >
    <div class="container py-5 my-5  border border-warning">
        {% include 'accounts/message.html' %}
        <h1 class="h1 text-warning text-center">Update Form </h1>
        <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-sm-12 col-md-10">
                {{form.movie | as_crispy_field}}
            </div>
        </div>  
        <div class="form-row">
            <div class="form-group col-sm-12 col-md-10">
                {{form.hall | as_crispy_field}}
            </div>
        </div>  


         <div class="form-row">
            <div class="form-group col-md-10">
                {{form.time | as_crispy_field}}
            </div>
            <div class="form-group col-md-10">
                {{form.date | as_crispy_field}}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-12 col-md-10">
                {{form.discount | as_crispy_field}}
            </div>
        </div>


        <div class="btn-comtainer d-flex justify-content-center">
        <button type="submit" class="btn btn-warning btn-lg"> Update Information </button>
        </div>
     </form>
    </div>
</div>
{% endblock main_content %}

{% block js_files %}
    {% comment %} <script src="{% static '/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script> {% endcomment %}
{% endblock js_files %}