.movie-details{
    padding: 6% 0;
}
.movie-viewer{
    background-attachment: fixed !important;
}

.width-fourty{
    width: 63%;
}

.height-limit{
    height: 500px;
}
.back-color{
    background: wheat;
}

.font-limit{
    font-size: 1.3rem;
}

@media only screen and (max-width: 991px) {
    .movie{
        justify-content: center !important;
    }

    .width-fourty{
        width: 100%;
    }
    .movie-title{
        text-align: center;
    }
}
@media only screen and (max-width: 500px) {
    .embed-responsive{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .width-fourty{
        margin-left: 1rem;
    }
}
@media only screen and (max-width: 320px) {

    .width-fourty{
        margin-left: 0.1rem;
    }
}