.movie-details{
    padding: 3% 0;
}
.movie-viewer{
    background-attachment: fixed !important;
}

.width-fourty{
    width: 63%;
}

.height-limit{
    height: 500px;
}
.back-color{
    background: wheat;
}

.font-limit{
    font-size: 1.3rem;
}

@media only screen and (max-width: 991px) {
    .movie{
        justify-content: center !important;
    }

    .width-fourty{
        width: 100%;
    }
    .movie-title{
        text-align: center;
    }
}