.movie-details{
    padding: 3% 0;
}

.width-fourty{
    width: 63%;
}

.height-limit{
    height: 500px;
}
.back-color{
    background: wheat;
}

.font-limit{
    font-size: 1.3rem;
}

@media only screen and (max-width: 991px) {
    .movie{
        justify-content: center !important;
    }
}