:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

.title-highlight {
  color: #fe7900;
}

* {
  scroll-behavior: smooth;
  /* transition: all 0.5s; */
}

.button {
  cursor: pointer !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #13171b !important;
  background-color: var(--clr-accent-400) !important;
  padding: 0.5em 1.25em !important;
  border-radius: 1rem !important;
  position: absolute;
  bottom: 0 !important;
  width: max-content !important;
}

.button:hover,
.button:focus {
  background-color: #ffffff !important;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}