.navbar {
    transition: all 0.4s;
}
.navbar li{
    position: relative;
	height: 100%;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    /* background: #000; */
	backdrop-filter: blur(15px);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link, .navbar.active .navbar-brand {
	transition: all 0.5s;
    color: orange;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

#navbarSupportedContent i{
	padding: 0 0.5rem;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        backdrop-filter: blur(15px);
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.navbar-nav  li::before{
	content: "";
	position: absolute;
	height: 33.33%;
	width: 0;
	background-color: orange;
	right: 0;
	z-index: -1;
	top: 33.33%;
	transition: all 0.5s;
}
.navbar-nav  li::after{
	content: "";
	position: absolute;
	height: 33.33%;
	width: 0;
	background-color: orange;
	left: 0;
	z-index: -1;
	bottom: 0;
	transition: all 0.5s;
}
.navbar-nav  li a{
	z-index: 1;
}

.navbar-nav  li a::before{
	position: absolute;
	content: "";
	height: 33.33%;
	width: 0;
	background-color: orange;
	bottom: 66.66%;
	left: 0;
	z-index: -1;
	transition: all 0.5s;
}

.navbar-nav  li:hover::before, .navbar-nav  li:hover::after, .navbar-nav li:hover a::before{
	width: 100%;
}

.navbar.active li:hover .nav-link {
    color: white;
}

.nav-item.active{
	border-bottom: 3px solid blue;
}