.wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 0 60px;

  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: max-content;
}


.slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 5rem auto;
  max-width: 800px;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: #fff;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
}

.slick-prev {
  left: -50px;
  text-align: left;
}

.slick-next {
  right: -50px;
  text-align: right;
}

.item.slick-slide {
  width: 400px !important;
  height: 400px !important;
  transition: transform 0.4s;
  position: relative;
}

.slick-slide:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  transition: transform .4s;
}

.item.slick-slide {
  transform: scale(0.7) translate(640px);
}

.item.slick-slide.slick-center+.slick-slide {
  transform: scale(0.8) translate(-250px);
  z-index: 10;
}

.item.slick-slide.slick-center+.slick-slide+.item.slick-slide {
  transform: scale(0.7) translate(-640px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
  transform: scale(1);
  z-index: 30;
}

.slick-center:after {
  opacity: 0;
}

.welcome-cine {
  padding-bottom: 8rem;
  margin-right: 0;
}

.welcome-section {
  padding: 8rem 8rem 13rem 8rem !important;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.welcome-section::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, transparent 50%, #000 100%),
    linear-gradient(45deg, #000, transparent 50%);
  z-index: 102;
  overflow: hidden;
}

.decorated-text {
  color: #fff;
  text-decoration: none;
  outline: none;
  transition: all 0.25s ease-in-out;
}

.welcome-section p {
  color: #f2f2f2;
  font-size: 1.1rem;
  margin-right: 23rem;
  margin-top: 1rem;
}

.welcome-section h1 {
  margin-right: 23rem;
}

.carausel-text {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
  margin: auto;
}

.carausel-text p {
  width: 70%;
  margin: auto;
}

a.effect-underline:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.message h1 a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: "Dosis", sans-serif;
}

.get-started {
  background-color: #fffafa;
}

.vcard {
  color: #ffffff !important;
  background-size: cover !important;
  padding: 10rem 0 0;
  max-width: 40ch !important;
  overflow: hidden !important;
  transition: transform 500ms ease !important;
}

.act:hover {
  transform: scale(1.05) !important;
}

.vcard-content {
  padding: 1.5em !important;
  width: 100% !important;
  background: linear-gradient(hsl(0 0% 0% /0),
      hsl(255 50% 50% /0.3) 20%,
      hsl(0 0% 0% /1)) !important;
  transition: transform 500ms ease !important;
  transform: translateY(58%) !important;
}

.vcard-content>*:not(.vcard-title) {
  opacity: 0 !important;
  transition: opacity 500ms linear;
}

.act:hover .vcard-content>* {
  opacity: 1 !important;
}

.act:hover .vcard-content {
  transform: translateY(0) !important;
}

.vcard-title {
  position: relative !important;
  width: max-content !important;
}

.vcard-title::after {
  content: "";
  position: absolute !important;
  height: 4px !important;
  background: var(--clr-accent-400) !important;
  width: calc(100% + 1.5rem) !important;
  left: calc(1.5rem * -1) !important;
  bottom: 0 !important;
  transform: scaleX(0) !important;
  transform-origin: left !important;
  transition: transform 500ms ease !important;
}

.act:hover .vcard-title::after {
  transform: scaleX(1) !important;
}

.vcard-body-custom {
  color: rgba(255, 255, 255, 0.8) !important;
}

.vcard p {
  width: 100% !important;
}


.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.get-started {
  padding: 16rem 8rem !important;
  overflow: hidden;
  background-attachment: fixed;
}

.blur-container {
  backdrop-filter: blur(4px);
}

.features,
.movie-blur {
  background-attachment: fixed !important;
  background-size: cover !important;
}


@media (max-width: 945px) {

  .welcome-section h1,
  .welcome-section p {
    margin: 2rem;
  }

  .message p {
    text-align: center !important;
  }
}

@media (max-width: 790px) {

  .get-started {
    padding: 8rem !important
  }

  .carausel-text p {
    width: 100%;
  }

  .carausel-text {
    padding: 5rem 8rem !important;
  }
}

@media (max-width: 660px) {

  .get-started,
  .carausel-text {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .welcome-section {
    margin-right: 0;
    padding: 1rem 0rem !important;
    padding-top: 3rem !important;
  }

  .welcome-cine {
    padding: 3rem 0;
  }

  .welcome-cine h1 {
    font-size: 3rem;
  }

  .welcome-cine h1,
  .welcome-text h1 {
    margin: 1rem;
  }

  .welcome-text p {
    margin: 0;
    text-align: justify;
    padding: 2rem 0;
    font-size: 1rem;
  }

  .welcome-text h1 {
    font-size: 2rem;
  }

  .get-started {
    padding: 4rem 0 !important;
  }

  #btn-holder {
    max-width: 50%;
    text-align: center;

  }

  .vcard-content h2 {
    margin: auto !important;
  }

  .wrap .text-section {
    margin: 1.5rem 0;
  }

}