

#now-showing{
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

.movie-cards {
    position: relative;
    justify-content: center;
    align-items: center;
}

.movie-cards  .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-cards  .card .content{
    position: absolute;
    bottom: -250px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: bottom 0.7s;
}

.movie-cards .card:hover .content{
    bottom: 0px;
}

.movie-cards  .card .content .content8x h3,.movie-cards  .card .content .content8x p{
    color:#fff;
    text-align: center;
    transition: 0.7s;
    opacity: 0;
    transform: translateY(20px);
}

.movie-cards  .card:hover .content .content8x h3, .movie-cards  .card:hover .content .content8x p{
    opacity: 1;
    transform: translateY(0px);
}

 .content8x p{
    text-align: justify !important;
}

.content8x{
    padding: 0 0.3rem;
}

.sub-title{
    color:white
}

.now-showing-text {
    padding: 8rem !important;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .inner-movie-text{
      width: 50%;
  }
  
  .inner-movie-text p{
      font-size: 1.2rem;
      text-align: justify;
  }

  .inner-movie-text h1{
      font-size: 3rem;
      margin-bottom: 3rem;
  }

  .inner-movie-text-up{
      width: 72%;
  }

  .inner-movie-text-up p{
    width: 72%;
    font-size: 1.2rem;
    text-align: justify;
}
.movie-viewer{
    background-size: contain;
    background-attachment: fixed;
    text-align: center;
    padding: 5rem 0;
}

#up-comming{
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 900px) {
    .inner-movie-text{
        width: 80% !important;
    }
    .inner-movie-text h1{
        margin-bottom: 2rem !important;
    }
    .title-highlight{
        font-size: 2rem !important;
    }
}
@media screen and (max-width: 660px) {
    .inner-movie-text{
        width: 100% !important;
    }
    .inner-movie-text h1{
        text-align: center;
    }
    .now-showing-text{
        padding: 5rem 1rem !important;
    }
}
@media screen and (max-width: 525px) {
    .up-section-container{
        padding: 1.5rem !important;
    }
    .up-section-container p, .movie-viewer h1{
        font-size: 0.8rem !important;
        text-align: center;
    }
    .up-section-container h1, .movie-viewer h1{
        text-align: center;
        font-size: 1.5rem !important;
    }
    .inner-movie-text p{
        font-size: 1rem;
        text-align: center;
    }
}