{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Prices</title>

{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static '/css/price.css' %}" />
    <link rel="stylesheet" href="{% static '/css/common.css' %}" />
    <style>
        .table1{
            backdrop-filter:blur(5px);
        }
        .pricing{
            background-size:cover;
            background-attachment:fixed;    
        }
        .pricing .card{
            background: rgba(255,255,255,0.2);
            color:white
        }
        .link-unstyled, .link-unstyled:link, .link-unstyled:hover {
            color: inherit;
            text-decoration: inherit;
        }
      
    </style>
{% endblock css_files%}


{% block main_content %}

<section class="pricing py-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url({% static '/images/pricing-back.jpg' %});">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white"> Pricing </h1>
        <p class="text-white lead"> Get the most exciting theater experinces at the price that suits you best! </p>
    </div>

    <div class="container text-center">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                    <h4 class="text-warning">Gold</h4>
                    </div>

                    <div class="card-body">
                        
                        <h1 class = "my-0 font-weight-normal">Rs.300 <small class="text-muted">/seat</small> </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li> Most Affordable </li>
                            <li> Comfortable Seating </li>
                            <li> Good Viewing Angles</li>
                            <li> Dedicated Staffs</li>
                        </ul>
                        <button class="btn btn-outline-warning btn-lg btn-block"><a href="#price-tbl" class="link-unstyled">See Pricing</a></button>
                    </div>

                </div>
            </div>
             <div class="col mb-4">
                <div class="card shadow-lg">
                    <div class="card-header">
                    <h4 class="text-success">Premium</h4>
                    </div>

                    <div class="card-body">
                        
                        <h1 class = "my-0 font-weight-normal">Rs.550 <small class="text-muted">/seat</small> </h1>
                        <ul class="list-unstyled mt-3 mb-4 ">
                            <li> Most Luxurious </li>
                            <li> Leather Seating </li>
                            <li> Best Viewing Angles</li>
                            <li> Dedicated Food Delivery Staffs</li>
                        </ul>
                        <button class="btn btn-success btn-lg btn-block"><a href="#price-tbl" class="link-unstyled">See Pricing</a></button>
                    </div>

                </div>
            </div>

            <div class="col mb-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                    <h4 class="text-primary">Platinium</h4>
                    </div>

                    <div class="card-body">
                        
                        <h1 class = "my-0 font-weight-normal">Rs.500 <small class="text-muted">/seat</small> </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li> Dobly Audio </li>
                            <li> Dedicated Food Center</li>
                            <li> Premium Seats</li>
                            <li> Better Viewing Angles</li>
                        </ul>
                        <button class="btn btn-outline-primary btn-lg btn-block"><a href="#price-tbl" class="link-unstyled">See Pricing</a></button>
                    </div>

                </div>
            </div>
           
        </div>
        
    </div>




</section>

<div class="ticket-section" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  url({% static 'images/ticket-back.jpg' %})">
<div class="container-md price-details">
    <div class="hall-back" style="background-image: url({% static 'images/fcube.jpg' %})" id="price-tbl">
        <h1 class="rate-title col-sm-6"> 
            <span class='text-white'> <strong> Ticket </strong> Rates </span>
        </h1>
    </div>
    <div>
    <table class="table col-sm-12 table1 mb-0" >
    <thead>
        <tr>
        <th scope="col" class="text-white">Ticket Categories</th>
        {% for hall in hall_cat %}
        <th scope="col" style="color:{{hall.color_code}}" class="head-col">{{hall.name}}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for ticket in ticket_cat %}
            <tr>

            <th scope="row" class="text-white">{{ticket.name}}</th>

            {% for hall in hall_cat %}
                <p class="price" style="display: none">{{hall.price}}</p>
                <p class="discount" style="display: none">{{ticket.discount}}</p>
                <td class="final" style="color:{{hall.color_code}} !important"></td>
            {% endfor %}
            </tr>

        {% endfor %}
    </tbody>
    </table>
</div>
</div>
</div>

<script>
    for(let i =0; i<24;i++){
    var price = Number(document.getElementsByClassName("price")[i].innerText);
    var discount = Number(document.getElementsByClassName("discount")[i].innerText);
    var final = price - discount;
    document.getElementsByClassName("final")[i].innerHTML = final;
    console.log(final)
    }
</script>
<script src="{% static '/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>

{% endblock main_content %}